html>body {
    background: none;
}

div.image-set {
    margin-left: 6.5%;
    margin-top: 1em;
}

div#header, div#footer {
    color: black;
    background: #EEEECC;
}

div#footer {
    background: #EEEECC url(../i/caa-logo-transparent.gif) no-repeat center right;
}

.slide h1 {
    background: #EEEECC;
    color: black;
}

span.date, span.uri {
    font-size: 80%;
}

span.uri {
    color: blue;
}

div.image-gallery {
    text-align: center;
}

p.image-notes {
    font-size: 40%;
    font-style: italic;
}

img.for-slide {
    float: right;
}

.slide ul {
    line-height: 1.2em;
}

.slide h1 {
    text-transform: none;
}
